.my-card {
  cursor: pointer;
}

.my-card-title {
  font-size: 30px;
}

.my-card-body {
  display: none;
}

.my-card-body .detail li {
  text-align: left;
  list-style: none;
  margin-bottom: 10px;
}

.my-card-body .detail .li-title {
  font-weight: 700;
}
.my-card-body .detail li p {
  margin: 0;
}

.show {
  display: block;
}
